@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}
.container {
    max-width: 1920px;
    margin: 0 auto;
    background-color: #0f0f0f;
}

header {
    height: 80px;
}

nav1 {
    height: 60px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav1 ul {
    display: flex;
    list-style: none;
    width: 255px;
    border: 1px solid red;
    justify-content: space-between;
}

nav1 ul li a {
    text-decoration: none;
    color: #fff;
}

nav2 {
    height: 60px;
    border: 1px solid red;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav2 ul {
    display: flex;
    list-style: none;
    width: 255px;
    border: 1px solid red;
    justify-content: space-between;
}

nav2 ul li a {
    text-decoration: none;
    color: #fff;
}

h2 {
    text-align-last: center;
    color: #fff;
}

h4 {
    text-align-last: center;
    color: #fff;
}

h5 {
    text-align-last: center;
    color: #fff;
}

center {
    align-items: center;
}

.reccommendedid {
    margin-top: 500;
}